# üîßConfiguraci√≥n del entorno y conexi√≥n a SQL Server‚úÖ

In [1]:
! pip install sqlalchemy pyodbc pandas

[notice] A new release of pip is available: 24.1.2 -> 24.2
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: sqlalchemy in c:\users\hernan\appdata\local\programs\python\python312\lib\site-packages (2.0.32)
Requirement already satisfied: pyodbc in c:\users\hernan\appdata\local\programs\python\python312\lib\site-packages (5.1.0)
Requirement already satisfied: pandas in c:\users\hernan\appdata\local\programs\python\python312\lib\site-packages (2.2.2)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\hernan\appdata\local\programs\python\python312\lib\site-packages (from sqlalchemy) (4.12.2)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\hernan\appdata\local\programs\python\python312\lib\site-packages (from sqlalchemy) (3.0.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\hernan\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2.0.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\hernan\appdata\roaming\python\python312\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\hernan\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\hernan\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\hernan\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [2]:
# Grabar las dependencias a utilizar para su posterior uso automatizado.
! pip freeze > requirements.txt

# üîêImportar librer√≠as y configurar la conexi√≥nüì§

# üìùCrear la estructura de la tabla en SQL Serverüìå

# ‚úÖVerificaci√≥n y cierre de conexi√≥nüåê

In [9]:
import pandas as pd
from sqlalchemy import create_engine, text
import pyodbc

# üóÑÔ∏è Par√°metros de conexi√≥n a la base de datos
server_name = '190.172.70.140,1433'  # Direcci√≥n IP y puerto del servidor SQL Server
database_name = 'COMERLOGISTICS'      # Nombre de la base de datos
username = 'Hernan'                   # Tu usuario de SQL Server
password = 'Dapt01'                   # Tu contrase√±a de SQL Server

# üõ†Ô∏è Configurar la conexi√≥n usando pyodbc y sqlalchemy
connection_string = f"mssql+pyodbc://{username}:{password}@{server_name}/{database_name}?driver=ODBC+Driver+17+for+SQL+Server"
engine = create_engine(connection_string)

# üìÇ Cargar el archivo limpio en un DataFrame
invoice_purchases_df = pd.read_csv(r'C:\Users\hernan\Desktop\Hernan\henry\Proyecto Final\dataset\Archivos Limpios\InvoicePurchases12312016_clean.csv')

# üìä Crear la tabla en SQL Server
invoice_purchases_df.to_sql('InvoicePurchases12312016', con=engine, if_exists='replace', index=False) # Lo primero que agregas dentro del parentesis es el nombre de como se va a llamar la tabla

# ‚úîÔ∏è Confirmar que la tabla se ha creado correctamente
print("‚úÖ Tabla 'InvoicePurchases12312016' creada y datos cargados exitosamente en la base de datos.")

# üîç Verificar la carga de datos (opcional)
with engine.connect() as connection:
    # Utilizar el m√©todo text() para ejecutar la consulta SQL
    result = connection.execute(text("SELECT TOP 5 * FROM InvoicePurchases12312016"))
    for row in result:
        print(row)

# üîí Cerrar la conexi√≥n si ya no se va a utilizar
engine.dispose()

‚úÖ Tabla 'InvoicePurchases12312016' creada y datos cargados exitosamente en la base de datos.
(105, 'ALTAMAR BRANDS LLC         ', '2016-01-04', 8124, '2015-12-21', '2016-02-16', 6, 214.26, 3.47, False)
(4466, 'AMERICAN VINTAGE BEVERAGE  ', '2016-01-07', 8137, '2015-12-22', '2016-02-21', 15, 140.55, 8.57, False)
(388, 'ATLANTIC IMPORTING COMPANY ', '2016-01-09', 8169, '2015-12-24', '2016-02-16', 5, 106.6, 4.61, False)
(480, 'BACARDI USA INC            ', '2016-01-12', 8106, '2015-12-20', '2016-02-05', 10100, 137483.78, 2935.2, False)
(516, 'BANFI PRODUCTS CORP        ', '2016-01-07', 8170, '2015-12-24', '2016-02-12', 1935, 15527.25, 429.2, False)

------

In [5]:
import pandas as pd
from sqlalchemy import create_engine, text
import pyodbc

# üóÑÔ∏è Par√°metros de conexi√≥n a la base de datos
server_name = '190.172.70.140,1433'  # Direcci√≥n IP y puerto del servidor SQL Server
database_name = 'COMERLOGISTICS'      # Nombre de la base de datos
username = 'Daniela'                   # Tu usuario de SQL Server
password = 'Dapt01'                   # Tu contrase√±a de SQL Server

# üõ†Ô∏è Configurar la conexi√≥n usando pyodbc y sqlalchemy
connection_string = f"mssql+pyodbc://{username}:{password}@{server_name}/{database_name}?driver=ODBC+Driver+17+for+SQL+Server"
engine = create_engine(connection_string)

# üìÇ Cargar el archivo limpio en un DataFrame
purchasePricesDec_df = pd.read_csv(r'C:\Users\danie\OneDrive\Escritorio\GitProyectoFinal\ComerLogistics\Sprint_1\EDA y ETL\purchasePricesDec_new.csv')

# üìä Crear la tabla en SQL Server
purchasePricesDec_df.to_sql('PurchasePricesDec', con=engine, if_exists='replace', index=False) # Lo primero que agregas dentro del parentesis es el nombre de como se va a llamar la tabla

# ‚úîÔ∏è Confirmar que la tabla se ha creado correctamente
print("‚úÖ Tabla 'PurchasePricesDec' creada y datos cargados exitosamente en la base de datos.")

# üîç Verificar la carga de datos (opcional)
with engine.connect() as connection:
    # Utilizar el m√©todo text() para ejecutar la consulta SQL
    result = connection.execute(text("SELECT TOP 5 * FROM PurchasePricesDec"))
    for row in result:
        print(row)

# üîí Cerrar la conexi√≥n si ya no se va a utilizar
engine.dispose()

‚úÖ Tabla 'PurchasePricesDec' creada y datos cargados exitosamente en la base de datos.
(58, 'Gekkeikan Black & Gold Sake', 12.99, '750mL', '750', 1, 9.28, 8320, 'SHAW ROSS INT L IMP LTD    ', 3.710000000000001, 750.0)
(62, 'Herradura Silver Tequila', 36.99, '750mL', '750', 1, 28.67, 1128, 'BROWN-FORMAN CORP          ', 8.32, 750.0)
(63, 'Herradura Reposado Tequila', 38.99, '750mL', '750', 1, 30.46, 1128, 'BROWN-FORMAN CORP          ', 8.530000000000001, 750.0)
(72, 'No. 3 London Dry Gin', 34.99, '750mL', '750', 1, 26.11, 9165, 'ULTRA BEVERAGE COMPANY LLP ', 8.880000000000003, 750.0)
(75, 'Three Olives Tomato Vodka', 14.99, '750mL', '750', 1, 10.94, 7245, 'PROXIMO SPIRITS INC.       ', 4.050000000000001, 750.0)

In [2]:
import pandas as pd
from sqlalchemy import create_engine, text
import pyodbc

# üóÑÔ∏è Par√°metros de conexi√≥n a la base de datos
server_name = '190.172.70.140,1433'  # Direcci√≥n IP y puerto del servidor SQL Server
database_name = 'COMERLOGISTICS'      # Nombre de la base de datos
username = 'Ruben'                   # Tu usuario de SQL Server
password = 'Dapt01'                   # Tu contrase√±a de SQL Server

# üõ†Ô∏è Configurar la conexi√≥n usando pyodbc y sqlalchemy
connection_string = f"mssql+pyodbc://{username}:{password}@{server_name}/{database_name}?driver=ODBC+Driver+17+for+SQL+Server"
engine = create_engine(connection_string)

# üìÇ Cargar el archivo limpio en un DataFrame
PurchasesFINAL12312016_df = pd.read_csv(r'C:\Users\hernan\Desktop\Hernan\henry\Proyecto Final\dataset\Archivos Limpios\PurchasesFINAL12312016.csv')

# üìä Crear la tabla en SQL Server
PurchasesFINAL12312016_df.to_sql('PurchasesFINAL12312016', con=engine, if_exists='replace', index=False) # Lo primero que agregas dentro del parentesis es el nombre de como se va a llamar la tabla

# ‚úîÔ∏è Confirmar que la tabla se ha creado correctamente
print("‚úÖ Tabla 'PurchasesFINAL12312016' creada y datos cargados exitosamente en la base de datos.")

# üîç Verificar la carga de datos (opcional)
with engine.connect() as connection:
    # Utilizar el m√©todo text() para ejecutar la consulta SQL
    result = connection.execute(text("SELECT TOP 5 * FROM PurchasePricesDec"))
    for row in result:
        print(row)

# üîí Cerrar la conexi√≥n si ya no se va a utilizar
engine.dispose()

‚úÖ Tabla 'PurchasesFINAL12312016' creada y datos cargados exitosamente en la base de datos.
(58, 'Gekkeikan Black & Gold Sake', 12.99, '750mL', '750', 1, 9.28, 8320, 'SHAW ROSS INT L IMP LTD    ', 3.710000000000001, 750.0)
(62, 'Herradura Silver Tequila', 36.99, '750mL', '750', 1, 28.67, 1128, 'BROWN-FORMAN CORP          ', 8.32, 750.0)
(63, 'Herradura Reposado Tequila', 38.99, '750mL', '750', 1, 30.46, 1128, 'BROWN-FORMAN CORP          ', 8.530000000000001, 750.0)
(72, 'No. 3 London Dry Gin', 34.99, '750mL', '750', 1, 26.11, 9165, 'ULTRA BEVERAGE COMPANY LLP ', 8.880000000000003, 750.0)
(75, 'Three Olives Tomato Vodka', 14.99, '750mL', '750', 1, 10.94, 7245, 'PROXIMO SPIRITS INC.       ', 4.050000000000001, 750.0)

---

In [1]:
import pandas as pd
from sqlalchemy import create_engine, text
import pyodbc

# üóÑÔ∏è Par√°metros de conexi√≥n a la base de datos
server_name = '190.172.70.140,1433'  # Direcci√≥n IP y puerto del servidor SQL Server
database_name = 'COMERLOGISTICS'      # Nombre de la base de datos
username = 'Marcelo'                  # Tu usuario de SQL Server
password = 'Dapt01'                   # Tu contrase√±a de SQL Server

# üõ†Ô∏è Configurar la conexi√≥n usando pyodbc y sqlalchemy
connection_string = f"mssql+pyodbc://{username}:{password}@{server_name}/{database_name}?driver=ODBC+Driver+17+for+SQL+Server"
engine = create_engine(connection_string)

# üìÇ Cargar el archivo limpio en un DataFrame
SalesFINAL12312016_df = pd.read_csv(r'C:\Users\mlope\OneDrive\Escritorio\ProyectoFinalSoyHenry\ARCHIVOS INICIALES\SalesFINAL12312016.csv')

# üìä Crear la tabla en SQL Server
SalesFINAL12312016_df.to_sql('SalesFINAL12312016', con=engine, if_exists='replace', index=False) # Lo primero que agregas dentro del parentesis es el nombre de como se va a llamar la tabla

# ‚úîÔ∏è Confirmar que la tabla se ha creado correctamente
print("‚úÖ Tabla 'SalesFINAL12312016' creada y datos cargados exitosamente en la base de datos.")

# üîç Verificar la carga de datos (opcional)
with engine.connect() as connection:
    # Utilizar el m√©todo text() para ejecutar la consulta SQL
    result = connection.execute(text("SELECT TOP 5 * FROM SalesFINAL12312016"))
    for row in result:
        print(row)

# üîí Cerrar la conexi√≥n si ya no se va a utilizar
engine.dispose()

‚úÖ Tabla 'SalesFINAL12312016' creada y datos cargados exitosamente en la base de datos.
('1_HARDERSFIELD_1004', 1, 1004, 'Jim Beam w/2 Rocks Glasses', '750mL', 1, 16.49, 16.49, '1/1/2016', 750, 1, 0.79, 12546, 'JIM BEAM BRANDS COMPANY    ')
('1_HARDERSFIELD_1004', 1, 1004, 'Jim Beam w/2 Rocks Glasses', '750mL', 2, 32.98, 16.49, '1/2/2016', 750, 1, 1.57, 12546, 'JIM BEAM BRANDS COMPANY    ')
('1_HARDERSFIELD_1004', 1, 1004, 'Jim Beam w/2 Rocks Glasses', '750mL', 1, 16.49, 16.49, '1/3/2016', 750, 1, 0.79, 12546, 'JIM BEAM BRANDS COMPANY    ')
('1_HARDERSFIELD_1004', 1, 1004, 'Jim Beam w/2 Rocks Glasses', '750mL', 1, 14.49, 14.49, '1/8/2016', 750, 1, 0.79, 12546, 'JIM BEAM BRANDS COMPANY    ')
('1_HARDERSFIELD_1005', 1, 1005, "Maker's Mark Combo Pack", '375mL 2 Pk', 2, 69.98, 34.99, '1/9/2016', 375, 1, 0.79, 12546, 'JIM BEAM BRANDS COMPANY    ')