# üößTansformaciones en SQL üñ•Ô∏è

### üîßConfiguraci√≥n del entorno

In [2]:
! pip install sqlalchemy pyodbc pandas

Requirement already satisfied: sqlalchemy in c:\users\hernan\appdata\local\programs\python\python312\lib\site-packages (2.0.32)
Requirement already satisfied: pyodbc in c:\users\hernan\appdata\local\programs\python\python312\lib\site-packages (5.1.0)
Requirement already satisfied: pandas in c:\users\hernan\appdata\local\programs\python\python312\lib\site-packages (2.2.2)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\hernan\appdata\local\programs\python\python312\lib\site-packages (from sqlalchemy) (4.12.2)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\hernan\appdata\local\programs\python\python312\lib\site-packages (from sqlalchemy) (3.0.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\hernan\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2.0.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\hernan\appdata\roaming\python\python312\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\hernan\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\hernan\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\hernan\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

[notice] A new release of pip is available: 24.1.2 -> 24.2
[notice] To update, run: python.exe -m pip install --upgrade pip

### üìå1: Cambiar el nombre de la tabla üîÑ
### üìå2: Renombrar las columnas üõ†Ô∏è
### üìå3: Establecer la columna CompraID como clave primaria üóùÔ∏è

In [3]:
import pandas as pd
from sqlalchemy import create_engine, text
import pyodbc

# üöÄ Par√°metros de conexi√≥n
server_name = '190.172.70.140,1433'
database_name = 'COMERLOGISTICS'
username = 'Hernan'
password = 'Dapt01'

# üåê Crear la conexi√≥n con la base de datos
engine = create_engine(f'mssql+pyodbc://{username}:{password}@{server_name}/{database_name}?driver=ODBC+Driver+17+for+SQL+Server')

# üîÑ Cambiar el nombre de la tabla
rename_table_sql = text("""
    EXEC sp_rename 'InvoicePurchases12312016', 'Tabla_Compras';
""")

# üõ†Ô∏è Renombrar las columnas seg√∫n el Siguiente diccionario
rename_columns_sql = text("""
    EXEC sp_rename 'Tabla_Compras.VendorNumber', 'ProveedorID', 'COLUMN';
    EXEC sp_rename 'Tabla_Compras.VendorName', 'Nombre_proveedor', 'COLUMN';
    EXEC sp_rename 'Tabla_Compras.InvoiceDate', 'Fecha_compra', 'COLUMN';
    EXEC sp_rename 'Tabla_Compras.PONumber', 'CompraID', 'COLUMN';
    EXEC sp_rename 'Tabla_Compras.PODate', 'Fecha_ordencompra', 'COLUMN';
    EXEC sp_rename 'Tabla_Compras.PayDate', 'Fecha_pago', 'COLUMN';
    EXEC sp_rename 'Tabla_Compras.Quantity', 'Cantidad', 'COLUMN';
    EXEC sp_rename 'Tabla_Compras.Dollars', 'Importe', 'COLUMN';
    EXEC sp_rename 'Tabla_Compras.Freight', 'Costo_envio', 'COLUMN';
    EXEC sp_rename 'Tabla_Compras.Approval', 'Aprobacion', 'COLUMN';
""")

# üóùÔ∏è Establecer la columna 'CompraID' como NOT NULL y clave primaria üîÑ
set_primary_key_sql = text("""
    ALTER TABLE Tabla_Compras
    ALTER COLUMN CompraID INT NOT NULL;                       
    ADD CONSTRAINT PK_CompraID PRIMARY KEY (CompraID);
""")

# üíæ Ejecutar los comandos SQL
with engine.connect() as connection:
    print("‚û°Ô∏è Ejecutando cambio de nombre de la tabla...")
    connection.execute(rename_table_sql)
    print("‚úÖ Cambio de nombre de la tabla ejecutado.")
    connection.commit()

    print("‚û°Ô∏è Ejecutando cambio de nombre de las columnas...")
    connection.execute(rename_columns_sql)
    print("‚úÖ Cambio de nombre de las columnas ejecutado.")
    connection.commit()

    print("‚û°Ô∏è Estableciendo NOT NULL y clave primaria en la columna CompraID...")
    connection.execute(set_primary_key_sql)
    print("‚úÖ Columna CompraID establecida como NOT NULL y Clave primaria.")
    connection.commit()

# üîí Cerrar la conexi√≥n si ya no se va a utilizar
engine.dispose()
print("üîí Conexi√≥n cerrada.")

‚û°Ô∏è Ejecutando cambio de nombre de la tabla...
‚úÖ Cambio de nombre de la tabla ejecutado.
‚û°Ô∏è Ejecutando cambio de nombre de las columnas...
‚úÖ Cambio de nombre de las columnas ejecutado.
‚û°Ô∏è Estableciendo columna CompraID como NOT NULL...
‚úÖ Columna CompraID establecida como NOT NULL.
‚û°Ô∏è Estableciendo clave primaria en la columna CompraID...
‚úÖ Clave primaria establecida.
üîí Conexi√≥n cerrada.

-----

## (Marcelo - Prueba a Mejorar) üö©

In [10]:
import pandas as pd
from sqlalchemy import create_engine, text
import pyodbc

# üöÄ Par√°metros de conexi√≥n
server_name = '190.172.70.140,1433'
database_name = 'COMERLOGISTICS'
username = 'Marcelo'
password = 'Dapt01'

# üåê Crear la conexi√≥n con la base de datos
engine = create_engine(f'mssql+pyodbc://{username}:{password}@{server_name}/{database_name}?driver=ODBC+Driver+17+for+SQL+Server')

# üîÑ Cambiar el nombre de la tabla
rename_table_sql = text("""
    EXEC sp_rename 'dbo.SalesFINAL12312016', 'Tabla_VentasFinal';
""")

# üõ†Ô∏è Renombrar columnas directamente en la base de datos
rename_columns_sql = text("""
    EXEC sp_rename 'Tabla_VentasFinal.InventoryId', 'InventarioID', 'COLUMN';
    EXEC sp_rename 'Tabla_VentasFinal.Store', 'Tienda', 'COLUMN';
    EXEC sp_rename 'Tabla_VentasFinal.Brand', 'MarcaID', 'COLUMN';
    EXEC sp_rename 'Tabla_VentasFinal.Description', 'Descripcion', 'COLUMN';
    EXEC sp_rename 'Tabla_VentasFinal.Size', 'Tama√±o', 'COLUMN';
    EXEC sp_rename 'Tabla_VentasFinal.SalesQuantity', 'Cantidad_Ventas', 'COLUMN';
    EXEC sp_rename 'Tabla_VentasFinal.SalesDollars', 'Venta_Total', 'COLUMN';
    EXEC sp_rename 'Tabla_VentasFinal.SalesPrice', 'Precio_Unitario', 'COLUMN';
    EXEC sp_rename 'Tabla_VentasFinal.SalesDate', 'Fecha_Venta', 'COLUMN';
    EXEC sp_rename 'Tabla_VentasFinal.Volume', 'Volumen', 'COLUMN';
    EXEC sp_rename 'Tabla_VentasFinal.Classification', 'Clasificacion', 'COLUMN';
    EXEC sp_rename 'Tabla_VentasFinal.ExciseTax', 'Impuesto', 'COLUMN';
    EXEC sp_rename 'Tabla_VentasFinal.VendorNo', 'ProveedorID', 'COLUMN';
    EXEC sp_rename 'Tabla_VentasFinal.VendorName', 'Nombre_Proveedor', 'COLUMN';
""")

# Crear nuevas columnas e insertar valores:
add_columns_sql = text("""
    ALTER TABLE Tabla_VentasFinal
    ADD Inventario_inicialID INT,  -- Definir como columna normal para usarla como FK
        VentasID INT IDENTITY(1,1);  -- Definir como IDENTITY para usarla como PK

    ALTER TABLE Tabla_VentasFinal
    DROP COLUMN Tama√±o;  -- Eliminar la columna Tama√±o;
""")

# Asignar valores √∫nicos a Inventario_inicialID usando una CTE
assign_values_sql = text("""
    WITH CTE AS (
        SELECT ROW_NUMBER() OVER (ORDER BY (SELECT NULL)) AS row_num, InventarioID
        FROM Tabla_VentasFinal
    )
    UPDATE Tabla_VentasFinal
    SET Inventario_inicialID = CTE.row_num
    FROM Tabla_VentasFinal
    JOIN CTE ON Tabla_VentasFinal.InventarioID = CTE.InventarioID;
""")

# Establecer la clave primaria y claves for√°neas:
set_keys_sql = text("""
    -- Establecer la columna VentasID como PK
    ALTER TABLE Tabla_VentasFinal
    ADD CONSTRAINT PK_VentasID PRIMARY KEY (VentasID);

    -- Establecer la FK en Inventario_inicialID referenciando a Tabla_InventarioInicial
    --ALTER TABLE Tabla_VentasFinal
    --ADD CONSTRAINT FK_Inventario_inicial FOREIGN KEY (Inventario_inicialID)
    --REFERENCES Tabla_InventarioInicial(Inventario_inicialID);

    -- Establecer la FK en MarcaID referenciando a Tabla_Producto
    --ALTER TABLE Tabla_VentasFinal
    --ADD CONSTRAINT FK_MarcaID FOREIGN KEY (MarcaID)
    --REFERENCES Tabla_Producto(MarcaID);
""")

# Ejecutar los comandos SQL
with engine.connect() as connection:
    print("‚û°Ô∏è Ejecutando cambio de nombre de la tabla...")
    connection.execute(rename_table_sql)
    print("‚úÖ Cambio de nombre de la tabla ejecutado.")

    print("‚û°Ô∏è Ejecutando cambio de nombre de las columnas...")
    connection.execute(rename_columns_sql)
    print("‚úÖ Cambio de nombre de las columnas ejecutado.")

    print("‚û°Ô∏è Ejecutando la eliminaci√≥n de la columna 'Tama√±o' y adici√≥n de nuevas columnas...")
    connection.execute(add_columns_sql)
    print("‚úÖ Columnas modificadas.")

    print("‚û°Ô∏è Asignando valores √∫nicos a 'Inventario_inicialID'...")
    connection.execute(assign_values_sql)
    print("‚úÖ Valores asignados a 'Inventario_inicialID'.")

    print("‚û°Ô∏è Estableciendo clave primaria y claves for√°neas...")
    connection.execute(set_keys_sql)
    print("‚úÖ Claves establecidas.")

# üîí Cerrar la conexi√≥n si ya no se va a utilizar
engine.dispose()
print("üîí Conexi√≥n cerrada.")

‚û°Ô∏è Ejecutando cambio de nombre de la tabla...
‚úÖ Cambio de nombre de la tabla ejecutado.
‚û°Ô∏è Ejecutando cambio de nombre de las columnas...
‚úÖ Cambio de nombre de las columnas ejecutado.
‚û°Ô∏è Ejecutando la eliminaci√≥n de la columna 'Tama√±o' y adici√≥n de nuevas columnas...
‚úÖ Columnas modificadas.
‚û°Ô∏è Asignando valores √∫nicos a 'Inventario_inicialID'...
‚úÖ Valores asignados a 'Inventario_inicialID'.
‚û°Ô∏è Estableciendo clave primaria y claves for√°neas...
‚úÖ Claves establecidas.
üîí Conexi√≥n cerrada.