# üößTansformaciones en SQL üñ•Ô∏è

### üîßConfiguraci√≥n del entorno

In [14]:
! pip install sqlalchemy pyodbc pandas

Requirement already satisfied: sqlalchemy in c:\users\hernan\appdata\local\programs\python\python312\lib\site-packages (2.0.32)
Requirement already satisfied: pyodbc in c:\users\hernan\appdata\local\programs\python\python312\lib\site-packages (5.1.0)
Requirement already satisfied: pandas in c:\users\hernan\appdata\local\programs\python\python312\lib\site-packages (2.2.2)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\hernan\appdata\local\programs\python\python312\lib\site-packages (from sqlalchemy) (4.12.2)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\hernan\appdata\local\programs\python\python312\lib\site-packages (from sqlalchemy) (3.0.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\hernan\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2.0.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\hernan\appdata\roaming\python\python312\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\hernan\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\hernan\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\hernan\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

[notice] A new release of pip is available: 24.1.2 -> 24.2
[notice] To update, run: python.exe -m pip install --upgrade pip

### üìå1: Cambiar el nombre de la tabla üîÑ
### üìå2: Renombrar las columnas üõ†Ô∏è
### üìå3: Establecer la columna CompraID como clave primaria üóùÔ∏è

In [17]:
import pandas as pd
from sqlalchemy import create_engine, text
import pyodbc

# üöÄ Par√°metros de conexi√≥n
server_name = '190.172.70.140,1433'
database_name = 'COMERLOGISTICS'
username = 'Hernan'
password = 'Dapt01'

# üåê Crear la conexi√≥n con la base de datos
engine = create_engine(f'mssql+pyodbc://{username}:{password}@{server_name}/{database_name}?driver=ODBC+Driver+17+for+SQL+Server')

# üîÑ Cambiar el nombre de la tabla
rename_table_sql = text("""
    EXEC sp_rename 'InvoicePurchases12312016', 'Tabla_Compras';
""")

# üõ†Ô∏è Renombrar las columnas seg√∫n el Siguiente diccionario
rename_columns_sql = text("""
    EXEC sp_rename 'Tabla_Compras.VendorNumber', 'ProveedorID', 'COLUMN';
    EXEC sp_rename 'Tabla_Compras.VendorName', 'Nombre_proveedor', 'COLUMN';
    EXEC sp_rename 'Tabla_Compras.InvoiceDate', 'Fecha_compra', 'COLUMN';
    EXEC sp_rename 'Tabla_Compras.PONumber', 'CompraID', 'COLUMN';
    EXEC sp_rename 'Tabla_Compras.PODate', 'Fecha_ordencompra', 'COLUMN';
    EXEC sp_rename 'Tabla_Compras.PayDate', 'Fecha_pago', 'COLUMN';
    EXEC sp_rename 'Tabla_Compras.Quantity', 'Cantidad', 'COLUMN';
    EXEC sp_rename 'Tabla_Compras.Dollars', 'Importe', 'COLUMN';
    EXEC sp_rename 'Tabla_Compras.Freight', 'Costo_envio', 'COLUMN';
    EXEC sp_rename 'Tabla_Compras.Approval', 'Aprobacion', 'COLUMN';
""")

# üîÑ Establece la columna como NOT NULL:
table_columns_notnull = text("""
    ALTER TABLE Tabla_Compras
ALTER COLUMN CompraID INT NOT NULL;
""")

# üóùÔ∏è Establecer la columna 'CompraID' como clave primaria
set_primary_key_sql = text("""
    ALTER TABLE Tabla_Compras
    ADD CONSTRAINT PK_CompraID PRIMARY KEY (CompraID);
""")

# üíæ Ejecutar los comandos SQL
with engine.connect() as connection:
    print("‚û°Ô∏è Ejecutando cambio de nombre de la tabla...")
    connection.execute(rename_table_sql)
    print("‚úÖ Cambio de nombre de la tabla ejecutado.")
    connection.commit()

    print("‚û°Ô∏è Ejecutando cambio de nombre de las columnas...")
    connection.execute(rename_columns_sql)
    print("‚úÖ Cambio de nombre de las columnas ejecutado.")
    connection.commit()

    print("‚û°Ô∏è Estableciendo columna CompraID como NOT NULL...")
    connection.execute(table_columns_notnull)
    print("‚úÖ Columna CompraID establecida como NOT NULL.")
    connection.commit()

    print("‚û°Ô∏è Estableciendo clave primaria en la columna CompraID...")
    connection.execute(set_primary_key_sql)
    print("‚úÖ Clave primaria establecida.")
    connection.commit()

# üîí Cerrar la conexi√≥n si ya no se va a utilizar
engine.dispose()
print("üîí Conexi√≥n cerrada.")

‚û°Ô∏è Ejecutando cambio de nombre de la tabla...
‚úÖ Cambio de nombre de la tabla ejecutado.
‚û°Ô∏è Ejecutando cambio de nombre de las columnas...
‚úÖ Cambio de nombre de las columnas ejecutado.
‚û°Ô∏è Estableciendo columna CompraID como NOT NULL...
‚úÖ Columna CompraID establecida como NOT NULL.
‚û°Ô∏è Estableciendo clave primaria en la columna CompraID...
‚úÖ Clave primaria establecida.
üîí Conexi√≥n cerrada.

-----

In [17]:
from sqlalchemy import create_engine, text

# üöÄ Par√°metros de conexi√≥n
server_name = '190.172.70.140,1433'
database_name = 'COMERLOGISTICS'
username = 'Marcelo'
password = 'Dapt01'

# üåê Crear la conexi√≥n con la base de datos
engine = create_engine(f'mssql+pyodbc://{username}:{password}@{server_name}/{database_name}?driver=ODBC+Driver+17+for+SQL+Server')

# üíæ Ejecutar los comandos SQL
with engine.connect() as connection:
    try:
        # 1Ô∏è‚É£ Renombrar la tabla (si no se ha hecho ya)
        print("‚û°Ô∏è Ejecutando cambio de nombre de la tabla...")
        rename_table_sql = text("EXEC sp_rename 'SalesFINAL12312016', 'Tabla_VentasFinal';")
        connection.execute(rename_table_sql)
        connection.commit()
        print("‚úÖ Cambio de nombre de la tabla ejecutado.")

        # 2Ô∏è‚É£ Renombrar las columnas
        print("‚û°Ô∏è Ejecutando cambio de nombre de las columnas...")
        rename_columns_sql = [
            "EXEC sp_rename 'Tabla_VentasFinal.InventoryId', 'Inventario_inicialID', 'COLUMN'", 
            "EXEC sp_rename 'Tabla_VentasFinal.Store', 'Tienda', 'COLUMN'",
            "EXEC sp_rename 'Tabla_VentasFinal.Brand', 'MarcaID', 'COLUMN'",
            "EXEC sp_rename 'Tabla_VentasFinal.Description', 'Descripcion', 'COLUMN'",
            "EXEC sp_rename 'Tabla_VentasFinal.Size', 'Tama√±o', 'COLUMN'",
            "EXEC sp_rename 'Tabla_VentasFinal.SalesQuantity', 'Cantidad', 'COLUMN'",
            "EXEC sp_rename 'Tabla_VentasFinal.SalesDollars', 'Venta_Total', 'COLUMN'",
            "EXEC sp_rename 'Tabla_VentasFinal.SalesPrice', 'Precio_Unitario', 'COLUMN'",
            "EXEC sp_rename 'Tabla_VentasFinal.SalesDate', 'Fecha_Venta', 'COLUMN'",
            "EXEC sp_rename 'Tabla_VentasFinal.Volume', 'Volumen', 'COLUMN'",
            "EXEC sp_rename 'Tabla_VentasFinal.Classification', 'Clasificacion', 'COLUMN'",
            "EXEC sp_rename 'Tabla_VentasFinal.ExciseTax', 'Impuesto', 'COLUMN'",
            "EXEC sp_rename 'Tabla_VentasFinal.VendorNo', 'ProveedorID', 'COLUMN'",
            "EXEC sp_rename 'Tabla_VentasFinal.VendorName', 'Nombre_Proveedor', 'COLUMN'"
        ]
        for sql in rename_columns_sql:
            connection.execute(text(sql))
        connection.commit()
        print("‚úÖ Cambio de nombre de las columnas ejecutado.")

        # 3Ô∏è‚É£ Alterar la columna Inventario_inicialID a VARCHAR(255)
        print("‚û°Ô∏è Alterando el tipo de dato de la columna Inventario_inicialID a VARCHAR(255)...")
        alter_column_sql = text("""
            ALTER TABLE Tabla_VentasFinal
            ALTER COLUMN Inventario_inicialID VARCHAR(255);
        """)
        connection.execute(alter_column_sql)
        connection.commit()
        print("‚úÖ Tipo de dato de Inventario_inicialID alterado a VARCHAR(255).")

        # 4Ô∏è‚É£ Alterar la columna MarcaID a INT
        print("‚û°Ô∏è Alterando el tipo de dato de la columna MarcaID a INT...")
        alter_column_sql = text("""
            ALTER TABLE Tabla_VentasFinal
            ALTER COLUMN MarcaID INT;
        """)
        connection.execute(alter_column_sql)
        connection.commit()
        print("‚úÖ Tipo de dato de MarcaID alterado a INT.")

        # 5Ô∏è‚É£ Crear la columna VentasID
        print("‚û°Ô∏è Creando la columna VentasID...")
        add_columns_sql = text("""
            ALTER TABLE Tabla_VentasFinal
            ADD VentasID INT IDENTITY(1,1);
        """)
        connection.execute(add_columns_sql)
        connection.commit()
        print("‚úÖ Nueva columna VentasID creada.")

        # 6Ô∏è‚É£ Crear la clave primaria (PK) en VentasID
        print("‚û°Ô∏è Creando la clave primaria en la columna VentasID...")
        pk_sql = text("""
            ALTER TABLE Tabla_VentasFinal
            ADD CONSTRAINT PK_VentasID PRIMARY KEY (VentasID);
        """)
        connection.execute(pk_sql)
        connection.commit()
        print("‚úÖ Clave primaria en VentasID creada.")

        # 7Ô∏è‚É£ Identificar y corregir valores conflictivos en Inventario_inicialID y MarcaID
        print("‚û°Ô∏è Identificando y corrigiendo valores conflictivos en Inventario_inicialID y MarcaID...")
        fix_conflicts_sql = text("""
            -- Corregir Inventario_inicialID
            UPDATE Tabla_VentasFinal
            SET Inventario_inicialID = NULL
            WHERE Inventario_inicialID IS NOT NULL
            AND Inventario_inicialID NOT IN (SELECT Inventario_inicialID FROM Tabla_InventarioInicial);
            
            -- Corregir MarcaID
            UPDATE Tabla_VentasFinal
            SET MarcaID = NULL
            WHERE MarcaID IS NOT NULL
            AND MarcaID NOT IN (SELECT MarcaID FROM Productos);
        """)
        connection.execute(fix_conflicts_sql)
        connection.commit()
        print("‚úÖ Valores conflictivos en Inventario_inicialID y MarcaID corregidos.")

        # 8Ô∏è‚É£ Eliminar las claves for√°neas existentes en Inventario_inicialID y MarcaID (si existen)
        print("‚û°Ô∏è Eliminando claves for√°neas existentes en Inventario_inicialID y MarcaID si existen...")
        drop_fk_sql = text("""
            IF EXISTS (
                SELECT 1 FROM sys.foreign_keys 
                WHERE object_id = OBJECT_ID('FK_Inventario_inicialID') 
                AND parent_object_id = OBJECT_ID('Tabla_VentasFinal')
            )
            ALTER TABLE Tabla_VentasFinal
            DROP CONSTRAINT FK_Inventario_inicialID;

            IF EXISTS (
                SELECT 1 FROM sys.foreign_keys 
                WHERE object_id = OBJECT_ID('FK_MarcaID') 
                AND parent_object_id = OBJECT_ID('Tabla_VentasFinal')
            )
            ALTER TABLE Tabla_VentasFinal
            DROP CONSTRAINT FK_MarcaID;
        """)
        connection.execute(drop_fk_sql)
        connection.commit()
        print("‚úÖ Claves for√°neas eliminadas (si exist√≠an).")

        # 9Ô∏è‚É£ Crear la clave for√°nea en Inventario_inicialID con ON DELETE SET NULL
        print("‚û°Ô∏è Creando la clave for√°nea en la columna Inventario_inicialID con ON DELETE SET NULL...")
        fk_inventario_sql = text("""
            ALTER TABLE Tabla_VentasFinal
            ADD CONSTRAINT FK_Inventario_inicialID FOREIGN KEY (Inventario_inicialID)
            REFERENCES Tabla_InventarioInicial(Inventario_inicialID)
            ON DELETE SET NULL;
        """)
        connection.execute(fk_inventario_sql)
        connection.commit()
        print("‚úÖ Clave for√°nea en Inventario_inicialID creada con ON DELETE SET NULL.")

        # üîü Verificar si la tabla Productos existe antes de crear la clave for√°nea
        print("‚û°Ô∏è Verificando la existencia de la tabla Productos...")
        table_exists_sql = text("""
            SELECT COUNT(*) 
            FROM INFORMATION_SCHEMA.TABLES 
            WHERE TABLE_NAME = 'Productos';
        """)
        table_exists = connection.execute(table_exists_sql).scalar()

        if table_exists > 0:
            print("‚û°Ô∏è La tabla Productos existe. Procediendo a crear la clave for√°nea en MarcaID...")
            fk_marca_sql = text("""
                ALTER TABLE Tabla_VentasFinal
                ADD CONSTRAINT FK_Tabla_VentasFinal_MarcaID FOREIGN KEY (MarcaID)
                REFERENCES Productos(MarcaID)
                ON DELETE SET NULL;
            """)
            connection.execute(fk_marca_sql)
            connection.commit()
            print("‚úÖ Clave for√°nea en MarcaID creada con ON DELETE SET NULL.")
        else:
            print("‚ùå Error: La tabla 'Productos' no existe. No se puede crear la clave for√°nea.")

    except Exception as e:
        print(f"‚ùå Error: {e}")
        connection.rollback()  # Deshacer la transacci√≥n si hay un error

# üîí Cerrar la conexi√≥n
engine.dispose()
print("üîí Conexi√≥n cerrada.")

‚û°Ô∏è Ejecutando cambio de nombre de la tabla...
‚úÖ Cambio de nombre de la tabla ejecutado.
‚û°Ô∏è Ejecutando cambio de nombre de las columnas...
‚úÖ Cambio de nombre de las columnas ejecutado.
‚û°Ô∏è Alterando el tipo de dato de la columna Inventario_inicialID a VARCHAR(255)...
‚úÖ Tipo de dato de Inventario_inicialID alterado a VARCHAR(255).
‚û°Ô∏è Alterando el tipo de dato de la columna MarcaID a INT...
‚úÖ Tipo de dato de MarcaID alterado a INT.
‚û°Ô∏è Creando la columna VentasID...
‚úÖ Nueva columna VentasID creada.
‚û°Ô∏è Creando la clave primaria en la columna VentasID...
‚úÖ Clave primaria en VentasID creada.
‚û°Ô∏è Identificando y corrigiendo valores conflictivos en Inventario_inicialID y MarcaID...
‚úÖ Valores conflictivos en Inventario_inicialID y MarcaID corregidos.
‚û°Ô∏è Eliminando claves for√°neas existentes en Inventario_inicialID y MarcaID si existen...
‚úÖ Claves for√°neas eliminadas (si exist√≠an).
‚û°Ô∏è Creando la clave for√°nea en la columna Inventario_inicialID con ON DELETE SET NULL...
‚úÖ Clave for√°nea en Inventario_inicialID creada con ON DELETE SET NULL.
‚û°Ô∏è Verificando la existencia de la tabla Productos...
‚û°Ô∏è La tabla Productos existe. Procediendo a crear la clave for√°nea en MarcaID...
‚úÖ Clave for√°nea en MarcaID creada con ON DELETE SET NULL.
üîí Conexi√≥n cerrada.

--------------

### üëâRuben (Modificacion tabla PurchasesFINAL12312016)

In [ ]:
import pandas as pd
from sqlalchemy import create_engine, text
import pyodbc

# üöÄ Par√°metros de conexi√≥n
server_name = '190.172.70.140,1433'
database_name = 'COMERLOGISTICS'
username = 'Ruben'
password = 'Dapt01'

# üåê Crear la conexi√≥n con la base de datos
engine = create_engine(f'mssql+pyodbc://{username}:{password}@{server_name}/{database_name}?driver=ODBC+Driver+17+for+SQL+Server')

# üîÑ Cambiar el nombre de la tabla (si es necesario)
rename_table_sql = text("""
    EXEC sp_rename 'PurchasesFINAL12312016', 'Tabla_Detallecompras';
""")

# üõ†Ô∏è Renombrar las columnas seg√∫n el diccionario proporcionado
rename_columns_sql = text("""
    EXEC sp_rename 'Tabla_Detallecompras.InventoryId', 'Inventario_inicialID', 'COLUMN';
    EXEC sp_rename 'Tabla_Detallecompras.Store', 'Tienda', 'COLUMN';
    EXEC sp_rename 'Tabla_Detallecompras.Brand', 'MarcaID', 'COLUMN';
    EXEC sp_rename 'Tabla_Detallecompras.Description', 'Descripcion', 'COLUMN';
    EXEC sp_rename 'Tabla_Detallecompras.Size', 'Tama√±o', 'COLUMN';
    EXEC sp_rename 'Tabla_Detallecompras.VendorNumber', 'ProveedorID', 'COLUMN';
    EXEC sp_rename 'Tabla_Detallecompras.VendorName', 'Nombre_Proveedor', 'COLUMN';
    EXEC sp_rename 'Tabla_Detallecompras.PONumber', 'CompraID', 'COLUMN';
    EXEC sp_rename 'Tabla_Detallecompras.PODate', 'Fecha_ordencompra', 'COLUMN';
    EXEC sp_rename 'Tabla_Detallecompras.ReceivingDate', 'Fecha_recepcion', 'COLUMN';
    EXEC sp_rename 'Tabla_Detallecompras.InvoiceDate', 'Fecha_compra', 'COLUMN';
    EXEC sp_rename 'Tabla_Detallecompras.PayDate', 'Fecha_pago', 'COLUMN';
    EXEC sp_rename 'Tabla_Detallecompras.PurchasePrice', 'Precio_compra', 'COLUMN';
    EXEC sp_rename 'Tabla_Detallecompras.Quantity', 'Cantidad', 'COLUMN';
    EXEC sp_rename 'Tabla_Detallecompras.Dollars', 'Importe', 'COLUMN';
    EXEC sp_rename 'Tabla_Detallecompras.Classification', 'Clasificacion', 'COLUMN';
""")

# üîÑ Crear la columna 'Detalle_compraID' y llenarla con valores incrementales
add_detalle_compraID_sql = text("""
    ALTER TABLE Tabla_Detallecompras ADD Detalle_compraID INT IDENTITY(1,1);
""")

# üóùÔ∏è Establecer la columna 'Detalle_compraID' como clave primaria
set_primary_key_sql = text("""
    ALTER TABLE Tabla_Detallecompras
    ADD CONSTRAINT PK_Detalle_compraID PRIMARY KEY (Detalle_compraID);
""")

# üîó Establecer las claves for√°neas en 'Inventario_inicialID', 'MarcaID', 'CompraID'
set_foreign_keys_sql = text("""
    ALTER TABLE Tabla_Detallecompras
    ADD CONSTRAINT FK_Inventario_inicialID FOREIGN KEY (Inventario_inicialID) REFERENCES Inventario_table(Inventario_inicialID),
    ADD CONSTRAINT FK_MarcaID FOREIGN KEY (MarcaID) REFERENCES Marca_table(MarcaID),
    ADD CONSTRAINT FK_CompraID FOREIGN KEY (CompraID) REFERENCES Compra_table(CompraID);
""")

# üíæ Ejecutar los comandos SQL
with engine.connect() as connection:
    print("‚û°Ô∏è Ejecutando cambio de nombre de la tabla...")
    connection.execute(rename_table_sql)
    print("‚úÖ Cambio de nombre de la tabla ejecutado.")
    connection.commit()

    print("‚û°Ô∏è Ejecutando cambio de nombre de las columnas...")
    connection.execute(rename_columns_sql)
    print("‚úÖ Cambio de nombre de las columnas ejecutado.")
    connection.commit()

    print("‚û°Ô∏è Creando la columna Detalle_compraID con valores incrementales...")
    connection.execute(add_detalle_compraID_sql)
    print("‚úÖ Columna Detalle_compraID creada con valores incrementales.")
    connection.commit()

    print("‚û°Ô∏è Estableciendo clave primaria en la columna Detalle_compraID...")
    connection.execute(set_primary_key_sql)
    print("‚úÖ Clave primaria establecida.")

    print("‚û°Ô∏è Estableciendo claves for√°neas...")
    connection.execute(set_foreign_keys_sql)
    print("‚úÖ Claves for√°neas establecidas.")
    connection.commit()

# üîí Cerrar la conexi√≥n si ya no se va a utilizar
engine.dispose()
print("üîí Conexi√≥n cerrada.")

-----

In [ ]:
import pandas as pd
from sqlalchemy import create_engine, text
import pyodbc

# üöÄ Par√°metros de conexi√≥n
server_name = '190.172.70.140,1433'
database_name = 'COMERLOGISTICS'
username = 'Carlos'
password = 'Dapt01'

# üåê Crear la conexi√≥n con la base de datos
engine = create_engine(f'mssql+pyodbc://{username}:{password}@{server_name}/{database_name}?driver=ODBC+Driver+17+for+SQL+Server')


# üîÑ Establece la columna como NOT NULL:
table_columns_notnull = text("""
    ALTER TABLE Tabla_InventarioInicial
ALTER COLUMN Inventario_inicialID  VARCHAR(255) NOT NULL;
""")

# üóùÔ∏è Establecer la columna 'Invetario_InicialID' como clave primaria
set_primary_key_sql = text("""
    ALTER TABLE Tabla_InventarioInicial
 ADD CONSTRAINT PK_Inventario_inicialID PRIMARY KEY (Inventario_inicialID);
""")

# üíæ Ejecutar los comandos SQL
with engine.connect() as connection:
    print("‚û°Ô∏è Estableciendo columna Inventario_InicialID como NOT NULL...")
    connection.execute(table_columns_notnull)
    print("‚úÖ Columna Inventario_InicialID establecida como NOT NULL.")
    connection.commit()

    print("‚û°Ô∏è Estableciendo clave primaria en la columna Inventario_InicialID...")
    connection.execute(set_primary_key_sql)
    print("‚úÖ Clave primaria establecida.")
    connection.commit()

# üîí Cerrar la conexi√≥n si ya no se va a utilizar
engine.dispose()
print("üîí Conexi√≥n cerrada.")

In [ ]:
import pandas as pd
from sqlalchemy import create_engine, text
import pyodbc

# üöÄ Par√°metros de conexi√≥n
server_name = '190.172.70.140,1433'
database_name = 'COMERLOGISTICS'
username = 'Daniela'
password = 'Dapt01'

# üåê Crear la conexi√≥n con la base de datos
engine = create_engine(f'mssql+pyodbc://{username}:{password}@{server_name}/{database_name}?driver=ODBC+Driver+17+for+SQL+Server')


# üîÑ Establece la columna como NOT NULL:
table_columns_notnull = text("""
    ALTER TABLE dbo.Productos
    ALTER COLUMN MarcaID INT NOT NULL;
""")

# üóùÔ∏è Establecer la columna 'Invetario_InicialID' como clave primaria
set_primary_key_sql = text("""
    ALTER TABLE dbo.Productos
    ADD CONSTRAINT PK_MarcaID PRIMARY KEY (MarcaID);
""")

# üíæ Ejecutar los comandos SQL
with engine.connect() as connection:
    print("‚û°Ô∏è Estableciendo columna MarcaID como NOT NULL...")
    connection.execute(table_columns_notnull)
    print("‚úÖ Columna MarcaID establecida como NOT NULL.")
    connection.commit()

    print("‚û°Ô∏è Estableciendo clave primaria en la columna MarcaID...")
    connection.execute(set_primary_key_sql)
    print("‚úÖ Clave primaria establecida.")
    connection.commit()

# üîí Cerrar la conexi√≥n si ya no se va a utilizar
engine.dispose()
print("üîí Conexi√≥n cerrada.")

-----

In [ ]:
import pandas as pd
from sqlalchemy import create_engine, text
import pyodbc

# üöÄ Par√°metros de conexi√≥n
server_name = '190.172.70.140,1433'
database_name = 'COMERLOGISTICS'
username = 'Carlos'
password = 'Dapt01'

# üåê Crear la conexi√≥n con la base de datos
engine = create_engine(f'mssql+pyodbc://{username}:{password}@{server_name}/{database_name}?driver=ODBC+Driver+17+for+SQL+Server')


# üîÑ Establece la columna como NOT NULL:
table_columns_notnull = text("""
    ALTER TABLE Tabla_InventarioFinal
ALTER COLUMN Inventario_finalID  VARCHAR(255) NOT NULL;
""")

# üóùÔ∏è Establecer la columna 'Inventario_finalID' como clave primaria
set_primary_key_sql = text("""
    ALTER TABLE Tabla_InventarioFinal
 ADD CONSTRAINT PK_Inventario_finalID PRIMARY KEY (Inventario_finalID);
""")

# Establece la columna como NOT NULL:
table_columns_notnull = text("""
    ALTER TABLE Tabla_InventarioFinal
ALTER COLUMN MarcaID INT NOT NULL;
""")

# üîó Establecer las claves for√°neas en 'Inventario_finalID', 'MarcaID', 'CompraID'
set_foreign_keys_sql = text("""
    ALTER TABLE TTabla_InventarioFinal
    ADD CONSTRAINT FK_MarcaID FOREIGN KEY (MarcaID) REFERENCES Marca_table(MarcaID);
""")

# üíæ Ejecutar los comandos SQL
with engine.connect() as connection:
    print("‚û°Ô∏è Estableciendo columna Inventario_finalID como NOT NULL...")
    connection.execute(table_columns_notnull)
    print("‚úÖ Columna Inventario_finalID establecida como NOT NULL.")
    connection.commit()

    print("‚û°Ô∏è Estableciendo clave primaria en la columna Inventario_finalID...")
    connection.execute(set_primary_key_sql)
    print("‚úÖ Clave primaria establecida.")
    connection.commit()

    print("‚û°Ô∏è Estableciendo claves for√°neas...")
    connection.execute(set_foreign_keys_sql)
    print("‚úÖ Claves for√°neas establecidas.")
    connection.commit()

# üîí Cerrar la conexi√≥n si ya no se va a utilizar
engine.dispose()
print("üîí Conexi√≥n cerrada.")

-----